* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: blue;
  padding: 1rem;
  text-align: left;
  color: #fff;
}

.filter {
  background: #ddd;
  padding: 1rem;
  text-align: left;
}

.grid{
  display: grid;
  grid-template-areas: 
    'overview'
    'scatterplot';
    gap: 2rem;
    padding: 2rem;
}

.overview {
  grid-area: overview;
  grid-template-columns: 200px 350px;
  display: grid;
  height: 200px;
}

.overview .totalPopulation,
.overview .density{
  border : 1px solid #ddd;
  padding: 1rem;
  height: 185px;

}

.scatterPlot{
  grid-area: scatterplot;
  width: calc(100vw - 4rem);
}

#density_chart{
  height: 200px;
}

@media screen and (max-width : 700px){
  .density{
    display : none;
  }
}

/*9995140707 - 4500*/